In [17]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error

In [6]:
train_df = pd.read_csv("./inputs/train.csv").set_index("id")
target = train_df["Listening_Time_minutes"]
train_df.drop("Listening_Time_minutes", axis=1, inplace=True)
train_df.head()

,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment
id,,,,,,,,,,
0,Mystery Matters,Episode 98,NaN,True Crime,74.81,Thursday,Night,NaN,0.0,Positive
1,Joke Junction,Episode 26,119.80,Comedy,66.95,Saturday,Afternoon,75.95,2.0,Negative
2,Study Sessions,Episode 16,73.90,Education,69.97,Tuesday,Evening,8.97,0.0,Negative
3,Digital Digest,Episode 45,67.17,Technology,57.22,Monday,Morning,78.70,2.0,Positive
4,Mind & Body,Episode 86,110.51,Health,80.07,Monday,Afternoon,58.68,3.0,Neutral

In [12]:
train_df.fillna(train_df.mean(), inplace=True)

In [13]:
# Encode the categorical columns
%store -r categories
# categories = categories[:1] + categories[2:]
display(categories)
encoder = LabelEncoder()
for column in categories:
    train_df[column] = encoder.fit_transform(train_df[column])

train_df[categories]

['Podcast_Name',
 'Episode_Title',
 'Genre',
 'Publication_Day',
 'Publication_Time',
 'Episode_Sentiment']

,Podcast_Name,Episode_Title,Genre,Publication_Day,Publication_Time,Episode_Sentiment
id,,,,,,
0,34,98,9,4,3,2
1,24,19,1,2,0,0
2,40,8,2,5,1,0
3,10,40,8,1,2,2
4,31,85,3,1,0,1
...,...,...,...,...,...,...
749995,26,18,2,2,2,0
749996,2,14,0,2,3,1
749997,28,47,4,4,2,0
749998,41,42,4,4,2,0
749999,38,99,7,2,3,1

In [14]:
# Scale the data
scaler = StandardScaler()
train_df_scaled = scaler.fit_transform(train_df)
train_df_scaled

array([[ 7.41589350e-01,  1.69278629e+00,  4.58470222e-16, ...,
         0.00000000e+00, -1.17176708e+00,  1.22882316e+00],
       [ 3.42540781e-02, -1.10995773e+00,  1.78393428e+00, ...,
         9.28792460e-01,  5.65657867e-01, -1.22384261e+00],
       [ 1.16599051e+00, -1.50021322e+00,  3.03109685e-01, ...,
        -1.69462395e+00, -1.17176708e+00, -1.22384261e+00],
       ...,
       [ 3.17188187e-01, -1.16580102e-01, -1.08157423e+00, ...,
         1.27894687e+00, -1.17176708e+00, -1.22384261e+00],
       [ 1.23672404e+00, -2.93968964e-01,  1.43485973e+00, ...,
         1.60716768e+00, -1.17176708e+00, -1.22384261e+00],
       [ 1.02452346e+00,  1.72826406e+00, -1.30353661e+00, ...,
        -6.07735245e-01, -1.17176708e+00,  2.49027332e-03]])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(train_df_scaled, target, test_size=0.2, random_state=42)

In [16]:
model = KNeighborsRegressor()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = root_mean_squared_error(y_test, predictions)
print(score)

219.40249749312886